page-home {
    padding-bottom: 5em;
    // custom tab 
    $numTab: 3;
    #my-tab {
        display: flex;
        height: 5em;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: map-get($colors, primary);
        color: map-get($colors, light);
        .tap-item {
            width: 100%;
            text-align: center;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            color: #aaa;
        }
        .tap-item.active {
            color: #FFF;
            background-color: #0077ef;
        }
        #tab-highlight {
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            height: 3px;
            #tab-highlight-content {
                height: 3px;
                width: calc(100%/#{$numTab});
                float: left;
                background-color: #FFF;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    #tab-content {
        height: 100%;
        width: 100%;
        overflow-x: scroll;
        #tab-scroll-content {
            width: calc(100%*#{$numTab});
            height: 100%;
            .tab-item-content {
                width: calc(100%/#{$numTab});
                height: 100%;
                float: left;
                overflow-y: scroll;
            }
        }
    }
    #tab-content::-webkit-scrollbar {
        display: none;
    }
    .tab-item-content::-webkit-scrollbar {
        display: none;
    }
    // end custom tab
    //Circle progress
    $circle-progress-size: 12em;
    $increment: 180/100;
    $gradient-primary-color:radial-gradient(#8da9da, map-get($colors, primary));
    $gradient-secondary-color:radial-gradient(#8da9da, map-get($colors, secondary));
    $gradient-danger-color:radial-gradient(yellow, map-get($colors, danger));
    $default-color: radial-gradient(#FFF, #999);
    .circle-progress {
        position: relative;
        width: $circle-progress-size;
        height: $circle-progress-size;
        border-radius: 50%;
        overflow: hidden;
        // border: map-get($colors, primary) solid 1px;
        background-image: $default-color;
        .half,
        .fill {
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 50%;
            transition: 2s;
        }
        .left {
            clip: rect(0, $circle-progress-size/2, $circle-progress-size, 0);
            .fill {
                transform: rotate( 180deg)
            }
        }
        .right {
            clip: rect(0, $circle-progress-size, $circle-progress-size, $circle-progress-size/2);
            .fill {
                transform: rotate( 0deg)
            }
        }
        .bottom {
            clip: rect($circle-progress-size/2, $circle-progress-size, $circle-progress-size, 0);
            .fill {
                transform: rotate( 90deg)
            }
        }
        .fill {
            background-image: $gradient-primary-color;
            clip: rect(0, $circle-progress-size/2, $circle-progress-size, 0);
        }
        .content {
            position: absolute;
            top: $circle-progress-size/10;
            left: $circle-progress-size/10;
            width: $circle-progress-size*8/10;
            height: $circle-progress-size*8/10;
            display: flex;
            border-radius: 50%;
            background-color: #ddd;
            box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
            span {
                margin: auto;
                color: map-get($colors, primary);
                display: flex;
                i {
                    margin: 3px 5px;
                }
            }
        }
    }
    @for $i from 0 through 100 {
        .circle-progress[data-progress="#{$i}"] {
            .left,
            .left .fill {
                transform: rotate(180 + $i*$increment + deg);
            }
            .right .fill {
                transform: rotate($i*$increment + deg);
            }
            .right .fill.fix {
                transform: rotate($i*$increment*2 + deg);
            }
        }
    }
    .circle-progress.progress-default {
        .content {
            background-color: #000;
            color: #FFF;
            * {
                color: #FFF;
            }
        }
    }
    .circle-progress.progress-primary {
        background-image: $default-color;
        .content {
            background-color: #FFF;
        }
        .content * {
            color: map-get($colors, primary);
        }
        .fill {
            background-image: $gradient-primary-color;
        }
    }
    .circle-progress.progress-secondary {
        background-image: $default-color;
        .content {
            background-color: #FFF;
        }
        .content * {
            color: map-get($colors, secondary);
        }
        .fill {
            background-image: $gradient-secondary-color;
        }
    }
    .circle-progress.progress-danger {
        background-image: $default-color;
        .content {
            background-color: #FFF;
        }
        .content * {
            color: map-get($colors, danger);
        }
        .fill {
            background-image: $gradient-danger-color;
        }
    }
    //End circle progress
    #my-tab {
        z-index: 101
    }
    .circle-progress {
        margin: 10px auto;
    }
    ion-content {
        background-color: map-get($colors, light) !important;
    }
    #checkin-div {
        margin-top: 10px;
        padding: 15px;
        width: 100%;
    }
    #checkout-div {
        padding: 15px;
        margin-top: 10px;
    }
    .alert-div {
        padding: 10px;
        text-align: center;
        color: #F00;
        width: 100%;
        background: rgba(51, 51, 51, 0.36);
    }
    .zone-title {
        width: 100%;
        text-align: center;
        color: map-get($colors, dark);
    }
    //Profile tab
    .avatar-div {
        width: 100%;
        height: 50%;
        overflow: hidden;
        position: relative;
        .user-name {
            display: block;
            width: 100%;
            color: #FFF;
            text-align: center;
            font-size: 1.5em;
            top: 10px;
            left: 0;
            position: absolute;
        }
    }
    .cover {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: #332a11;
        img {
            width: 100%;
            height: 100%;
            opacity: .5;
        }
    }
    .avatar {
        margin: 5em auto;
        border-radius: 50%;
        width: 10em;
        height: 10em;
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    .list-md .item-block .item-inner {
        border-bottom: none;
    }
    .item-md {
        border-bottom: 1px solid #dedede;
    }
    //Products
    #products {
        #on-details {
            width: 100%;
            height: 100%;
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            #center {
                z-index: 1;
                height: 60%;
                width: 80%;
                margin: auto;
                background: white;
                border: 1px solid;
                display: flex;
                flex-wrap: wrap;
            }
        }
        #option-header {
            text-align: center;
            font-weight: bold;
            border-bottom: 1px solid grey;
            height: 20%;
            line-height: 60px;
            width: 100%;
            font-size: 26px;
        }
        #option-content {
            overflow: auto;
            height: 60%;
        }
        #done {
            align-self: flex-end;
            width: 100%;
            height: 2%;
            text-align: center;
        }
        #screen {
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        #header {
            height: 60px;
            width: 100%;
            border-bottom: 5px solid lightgrey;
            position: absolute;
            z-index: 10;
            display: flex;
            // background: #387ef5;
        }
        #toggle {
            width: 60%;
            height: 80%;
            margin: auto;
            display: flex;
        }
        #content {
            height: 100%;
            width: 100%;
            // padding-top: 60px;
            overflow: auto;
            ion-slide {
                background: #EDEDE1;
                align-items: baseline;
                overflow: auto;
            }
        }
        .foods {
            margin-bottom: 10px;
            border: 2px solid lightgrey;
        }
        .img {
            img {
                width: 100%;
            }
        }
        .name {
            padding-top: 5px;
            font-weight: bold;
            padding-left: 10px;
            background: white
        }
        .price {
            padding-top: 5px;
            font-weight: bold;
            padding-left: 10px;
            color: #387ef5;
            background: white
        }
        .details {
            padding: 5px 10px 30px 10px;
            background: white;
            text-overflow: ellipsis;
            word-wrap: break-word;
            overflow: hidden;
            max-height: 1.8em;
            line-height: 1.8em;
            white-space: nowrap;
        }
    }
}