<ion-header>

    <ion-navbar color="primary">
        <ion-title>Check-in History</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="calendar">
        <div class="month-bar">
            <div class="prev-button" (click)="prevMonth()">
                <ion-icon name="arrow-back"></ion-icon>
            </div>
            <div class="month"><span>{{currentMonth}}</span></div>
            <div class="forward-button" (click)="nextMonth()">
                <ion-icon name="arrow-forward"></ion-icon>
            </div>
        </div>
        <div class="day-bar">
            <div class="day"><span>Mo</span></div>
            <div class="day"><span>Tu</span></div>
            <div class="day"><span>We</span></div>
            <div class="day"><span>Th</span></div>
            <div class="day"><span>Fr</span></div>
            <div class="day"><span>Sa</span></div>
            <div class="day"><span>Su</span></div>
        </div>
        <div class="date-group" *ngIf="checkinData">
            <div class="date" *ngFor="let day of checkinData" [ngClass]="day.class">
                <span *ngIf="day.checkInDay" (click)="showCheckinDetail(day.checkInDay, day.checkInTime, day.checkOutTime, day.isOnTime)">{{day.checkInDay}}</span>
            </div>
        </div>
    </div>
    <div class="statistic">
        <div class="statistic-item">
            <div class="statistic-block on-time"><span>{{onTimeDays}}</span></div>
            <p>On time</p>
        </div>
        <div class="statistic-item">
            <div class="statistic-block out-time"><span>{{outTimeDays}}</span></div>
            <p>Late</p>
        </div>
        <div class="statistic-item">
            <div class="statistic-block"><span>{{noDataDay}}</span></div>
            <p>No data</p>
        </div>
    </div>
</ion-content>